body{
     background-color: black;
     background-size: cover;
     box-sizing: border-box;
     font-family: sans-serif;
}
*{
     padding: 0;
     margin: 0;
}
.menu-bar{
     background: rgba(0,100,0);
     text-align: center;
}
.menu-bar ul{
     display: inline-flex;
     list-style: none;
     color:#fff;
     
}